<!-- Header section -->
<header class="header-section">
  <div class="contain-wrapper">
    <div class="exam-logo">
      <img src="assets/images/SBI PO.png" alt="SBI PO">
      <div class="exam-title">sbi po 2018</div>
    </div>
    <div class="testbook-logo">
      <a [routerLink]="['/']" >
        <img src="assets/images/Testbook_logo.png" alt="TESTBOOK">
      </a>
    </div>
  </div>
</header>

<!-- Main bann -->
<section class="main-area">
  <div class="contain-wrapper">
    <div class="left-area">
      <div class="exam-logo">
        <img src="assets/images/SBI PO.png" alt="">
      </div>
      <div class="exam-title">
        sbi po mock test 2020
      </div>
      <div class="list-title">
        this test series includes
      </div>
      <div class="list-details">
        <div class="list">
          <ul class="unstyled-list">
            <li>20 prelims full test</li>
            <li>5 prelims advance test</li>
            <li>5 prelims advance test</li>
          </ul>
        </div>
        <div class="list right-list">
          <ul class="unstyled-list">
            <li>15 mains full tests</li>
            <li>20 sectional tests</li>
            <li>20 sectional tests</li>
          </ul>
        </div>
      </div>
      <div class="text-include">included in</div>
      <div class="textbook-pass">
        <img src="assets/images/Pass Logo.png" alt="Pass Logo">
      </div>
      <div class="text-access">
        Get Access to All Tests & Courses for 100+ Exams
        <a [routerLink]="['/']">Know more</a>
      </div>
    </div>
    <div class="right-area">
      <div class="package-wrapper">
        <div class="pass-data">
          <input type="radio" id="control_01" name="select" value="1" checked>
          <label for="control_01">
            <div class="left-area-inner">
              <div class="pass-title">yearly</div>
              <div class="pass-duration">Valid for 2 years</div>
            </div>
            <div class="right-area-inner">
              <div class="pass-old-plan">
                <div class="pass-value"> ‎₹ ‎1920</div>
                <div class="pass-off">30% off</div>
              </div>
              <div class="pass-new-plan">
                <div class="pass-value">only <span> ‎₹ ‎1299</span></div>
              </div>
            </div>
          </label>
          
        </div>
        <div class="pass-data">
          <input type="radio" id="control_02" name="select" value="2">
          <label for="control_02">
            <div class="left-area-inner">
              <div class="pass-title">monthly</div>
              <div class="pass-duration">Valid for 6 months</div>
            </div>
            <div class="right-area-inner">
              <div class="pass-old-plan">
                <div class="pass-value">1920</div>
                <div class="pass-off">30% off</div>
              </div>
              <div class="pass-new-plan">
                <div class="pass-value">only <span>1299</span></div>
              </div>
            </div>
          </label>
          
        </div>
        <div class="pass-data">
          <input type="radio" id="control_03" name="select" value="2">
          <label for="control_03">
            <div class="left-area-inner">
              <div class="pass-title">Weekly</div>
              <div class="pass-duration">Valid for 6 weeks</div>
            </div>
            <div class="right-area-inner">
              <div class="pass-old-plan">
                <div class="pass-value">1920</div>
                <div class="pass-off">30% off</div>
              </div>
              <div class="pass-new-plan">
                <div class="pass-value">only <span>1299</span></div>
              </div>
            </div>
          </label>
          
        </div>
        <div class="btn-grp">
          <button class="buy_btn btn">Buy Now</button>
          <button class="cart_btn btn">Add to cart</button>
        </div>
        <div class="copuon_link">
          I have a Coupon Code
        </div>
      </div>
    </div>
  </div>
</section>

<!-- why section -->
<section class="test-section">
  <div class="contain-wrapper">
    <div class="test-heading">why take this series</div>
    <div class="feature-area">
      <div class="top-wrapper common-wrapper">
        <div class="feature-item">
          <img src="assets/images/feaure-1.png" alt="">
          <div class="feature-title">latest exam patterns</div>
          <div class="feature-descr">Prepare for the level expected in the upcoming exams</div>
        </div>
        <div class="feature-item">
          <img src="assets/images/feaure-2.png" alt="">
          <div class="feature-title">save tests & questions</div>
          <div class="feature-descr">Save important Tests & Questions to revise or reattempt them later.</div>
        </div>
        <div class="feature-item">
          <img src="assets/images/feaure-3.png" alt="">
          <div class="feature-title">video tips & tricks</div>
          <div class="feature-descr">Find fascinating tips to improve your speed & Accuracy</div>
        </div>
      </div>
      <div class="bottom-wrapper common-wrapper">
        <div class="feature-item">
          <img src="assets/images/feaure-4.png" alt="">
          <div class="feature-title">video discussions</div>
          <div class="feature-descr">Understand the right strategy to attempt and exam from our Expert Faculties</div>
        </div>
        <div class="feature-item">
          <img src="assets/images/feaure-5.png" alt="">
          <div class="right_sec">
            <div class="feature-title">In-depth Performance Analysis</div>
            <div class="feature-descr">Get insights on your Strengths & Weaknesses, All India Rank & Performance Comparison with the Topper</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>